In [8]:
import pandas as pd

# Now read the data from a csv file assign to df mean data frame
df = pd.read_csv('./data/data.csv')

In [13]:
# Write the data into new file of excel
df.to_excel('./data/data.xlsx')

# pandas tips

In [14]:
# print the variable or data in terminal
print(df)

     PROVINCE                   DIVISION                   DISTRICT  \
0      PUNJAB        BAHAWALPUR DIVISION      BAHAWALNAGAR DISTRICT
1      PUNJAB        BAHAWALPUR DIVISION      BAHAWALNAGAR DISTRICT
2      PUNJAB        BAHAWALPUR DIVISION      BAHAWALNAGAR DISTRICT
3      PUNJAB        BAHAWALPUR DIVISION      BAHAWALNAGAR DISTRICT
4      PUNJAB        BAHAWALPUR DIVISION      BAHAWALNAGAR DISTRICT
..        ...                        ...                        ...
523  KPK/FATA  DERA ISMAIL KHAN DIVISION  SOUTH WAZIRISTAN DISTRICT
524  KPK/FATA  DERA ISMAIL KHAN DIVISION  SOUTH WAZIRISTAN DISTRICT
525  KPK/FATA  DERA ISMAIL KHAN DIVISION  SOUTH WAZIRISTAN DISTRICT
526  KPK/FATA  DERA ISMAIL KHAN DIVISION  SOUTH WAZIRISTAN DISTRICT
527  KPK/FATA  DERA ISMAIL KHAN DIVISION  SOUTH WAZIRISTAN DISTRICT

            SUB DIVISION  AREA (sq.km)  ALL SEXES (RURAL)  MALE (RURAL)  \
0    BAHAWALNAGAR TEHSIL        1729.0             619550        316864
1       CHISHTIAN TEHSIL        1500.0             540342        273788
2      FORT ABBAS TEHSIL        2536.0             361240        182655
3      HAROONABAD TEHSIL        1295.0             382115        192278
4     MINCHINABAD TEHSIL        1818.0             452723        231506
..                   ...           ...                ...           ...
523     SARAROGHA TEHSIL         813.0              98180         51479
524      SERWEKAI TEHSIL         398.0              54540         28695
525        TIARZA TEHSIL         734.0              45156         23649
526    TOI KHULLA TEHSIL         567.0              50413         27462
527          WANA TEHSIL        2315.0             153156         81342

     FEMALE (RURAL)  TRANSGENDER (RURAL)  SEX RATIO (RURAL)  ...  \
0            302644                   42             104.70  ...
1            266500                   54             102.73  ...
2            178541                   44             102.30  ...
3            189808                   29             101.30  ...
4            221178                   39             104.67  ...
..              ...                  ...                ...  ...
523           46694                    7             110.25  ...
524           25844                    1             111.03  ...
525           21507                    0             109.96  ...
526           22947                    4             119.68  ...
527           71796                   18             113.30  ...

     POPULATION 1998 (RURAL)  ANNUAL GROWTH RATE (RURAL)  ALL SEXES (URBAN)  \
0                     407768                        2.22             193840
1                     395983                        1.65             149424
2                     250959                        1.93              61528
3                     297343                        1.33             142600
4                     316593                        1.90              72294
..                       ...                         ...                ...
523                    72063                        1.64                  0
524                    31472                        2.93                  0
525                    37708                        0.95                  0
526                    36508                        1.71                  0
527                    90772                        2.79                  0

     MALE (URBAN)  FEMALE (URBAN)  TRANSGENDER (URBAN)  SEX RATIO (URBAN)  \
0           98391           95402                   47             103.13
1           75546           73851                   27             102.30
2           31360           30150                   18             104.01
3           71345           71236                   19             100.15
4           36694           35590                   10             103.10
..            ...             ...                  ...                ...
523             0               0                    0               0.00
524             0               0                    0               0.00
525             0               0                    0               0.00
526             0               0                    0               0.00
527             0               0                    0               0.00

     AVG HOUSEHOLD SIZE (URBAN)  POPULATION 1998 (URBAN)  \
0                          6.02                   133785
1                          6.01                   102287
2                          6.00                    34637
3                          6.02                    84424
4                          6.34                    37668
..                          ...                      ...
523                        0.00                        0
524                        0.00                        0
525                        0.00                        0
526                        0.00                        0
527                        0.00                        0

     ANNUAL GROWTH RATE (URBAN)
0                          1.97
1                          2.01
2                          3.06
3                          2.79
4                          3.48
..                          ...
523                        0.00
524                        0.00
525                        0.00
526                        0.00
527                        0.00

[528 rows x 21 columns]

In [15]:
# how the data looks like
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROVINCE                    528 non-null    object
 1   DIVISION                    528 non-null    object
 2   DISTRICT                    528 non-null    object
 3   SUB DIVISION                528 non-null    object
 4   AREA (sq.km)                528 non-null    float64
 5   ALL SEXES (RURAL)           528 non-null    int64
 6   MALE (RURAL)                528 non-null    int64
 7   FEMALE (RURAL)              528 non-null    int64
 8   TRANSGENDER (RURAL)         528 non-null    int64
 9   SEX RATIO (RURAL)           528 non-null    float64
 10  AVG HOUSEHOLD SIZE (RURAL)  528 non-null    float64
 11  POPULATION 1998 (RURAL)     528 non-null    int64
 12  ANNUAL GROWTH RATE (RURAL)  528 non-null    float64
 13  ALL SEXES (URBAN)           528 non-null    int64
 14  MALE (URBAN)                528 non-null    int64
 15  FEMALE (URBAN)              528 non-null    int64
 16  TRANSGENDER (URBAN)         528 non-null    int64
 17  SEX RATIO (URBAN)           528 non-null    float64
 18  AVG HOUSEHOLD SIZE (URBAN)  528 non-null    float64
 19  POPULATION 1998 (URBAN)     528 non-null    int64
 20  ANNUAL GROWTH RATE (URBAN)  528 non-null    float64
dtypes: float64(7), int64(10), object(4)
memory usage: 86.8+ KB